services:
  talktive-server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: talktive-server
    ports:
      - "5000:5000"
    restart: always
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
